.pagination{
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
}

.activePage{
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    padding: 1px 7px;
}

.pageNumber{
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

.paginationInfo{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-secondary);
}

.activeButton{
    background-color: var(--secondary);
    border-radius: 3px;
    padding: 4px 6px;
}