.textInput{
    width: auto;
    height: 40px;
    border: 1px solid var(--secondary);
    border-radius: 23px;
    font-size: 16px;
    outline: none;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    padding: 0 16px;
    gap: 10px;
}

@media (max-width: 600px) {
    .textInput {
      width: 150px;
    }
    input{
        width: 100px;
    }
  }
